@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.header-bg {
    background-image: url('/banner_back.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bg-small {
    background-image: url('/banner_back.svg');
    background-position: 0 -400px;
    /* width: 200px;  */
    height: 700px;

}

.content {
    display: flex;
    align-items: flex-start;
}



.side-div {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.395rem;
    /* Equivalent to rounded-md */
    border-bottom-left-radius: 0.395rem;
    /* Equivalent to rounded-md */
}

.font-ubuntu {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

.font-ubuntu-thin {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.font-ubuntu-xthin {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}

.font-ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-normalregular {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-heavy {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}

.roboto-serif-heavy {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

.cabin-light {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.cabin-regular {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.cabin-heavy {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-thin {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.source-sans-pro {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.urbanist-light {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.jost-500 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.jost-400 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



.bg-Background {
    background-image: url('/Background.png');
}

.bg-footer {
    background-image: url('/footer-bg.png');
    filter: grayscale(1px);
}

.bg-curved {
    background-image: url('/bg-curve.png'), url('/wave.svg');
    background-repeat: no-repeat;
}

.bg-curved {
    background-image: url('/bg-curve.png');
    background-repeat: no-repeat;
}

.bg-curve-plain {
    background-image: url('/bg-curve.png');
    background-repeat: no-repeat;
    height: 1350px;

}

@media only screen and (max-width: 650px) {
    
    .bg-curved {
        background-image: none;
        background-color: rgb(106, 13, 13);
        height: max-content;
    }
    .header-bg-small {
        background-image: url('/banner_back.svg');
        background-position: 0 0;
        /* width: 200px;  */
        height: 1240px;
        background-repeat: no-repeat;
    
    }
}
@media only screen and (max-width: 1000px) {
    .header-bg-small {
        background-image: url('/banner_back.svg');
        background-position: 0 0;
        /* width: 200px;  */
        height: 1240px;
        background-repeat: no-repeat;
    
    }
}


textarea {
    resize: none;
}